/* DEFAULTS */
*, *:before, *:after {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    box-sizing: border-box;
    font-size: 40%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
@media (min-width: 22.875em) {
    html {
        font-size: 50%;
    }
}
@media (min-width: 28.75em) {
    html {
        font-size: 62.5%;
    }
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 1.2rem/1.5 sans-serif;
    font-variant-numeric: tabular-nums;
    background: #fff;
    color: #333;
}
a {
    color: #006f35;
}
a:hover, a:active {
    color: #003D1E;
}
.strip {
    display: block;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line-logo {
    display: inline-block;
    min-width: 3.5rem;
    padding: .5rem .4rem .4rem;
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}
/* /DEFAULTS */

/* SITE HEADER: fixed element on top */
.site-header {
    flex: 0 0 auto;
    padding: .3rem 1.6rem .2rem;
    /*border-bottom: .1rem solid #a0a0a0;*/
    border-bottom: .1rem solid #c0c0c0;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.3);
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: .6rem;
    gap: .6rem;
}
.site-header .logo {
    height: 3rem;
    vertical-align: text-bottom;
}
.site-header h1 {
    flex: 0 0 auto;
    margin: .3rem 0;
    font-size: 2.4rem;
    line-height: 1;
}
.site-header h1 a,
.site-header h1 a:hover,
.site-header h1 a:active {
    color: #333;
    text-decoration: none;
}
.site-header h1 span {
    font-size: .75em;
    font-weight: normal;
    text-transform: uppercase;
    color: #a0a0a0;
}
/* train line filter */
#nav > a {
    display: inline-block;
    min-width: 3.2rem;
    margin: .3rem 0;
    padding: .4rem .7rem .3rem;
    border: .1rem solid rgba(0, 111, 53, .35);
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: border .2s ease-in-out, background .2s ease-in-out;
    white-space: nowrap;
    position: relative;
}
#nav > a.is-active,
#nav > a:hover,
#nav > a:active {
    background: rgba(0, 111, 53, .15);
    border-color: rgba(0, 111, 53, .5);
}
#nav a::before {
    display: inline-block;
    height: 1.2rem;
    width: 1rem;
    margin: 0;
    vertical-align: top;
}
#nav [href="#list"]::before {
    content: url(img/icon-list.svg);
}
#nav [href="#map"]::before {
    content: url(img/icon-map.svg);
}
#nav [href="#newsticker"]::before {
    content: url(img/icon-newsticker.svg);
}
#nav [href="#debug"]::before {
    content: url(img/icon-debug.svg);
}
@media (min-width: 27em) {
    #nav a::before {
        margin-right: .3rem;
    }
}
#nav span.text {
    display: none;
}
@media (min-width: 27em) {
    #nav span.text {
        display: inline-block;
    }
}
#nav > a .badge {
    display: none;
    position: absolute;
    top: -0.6rem;
    right: -1.1rem;
    background: red;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.1rem;
    min-width: 2rem;
    padding: 0.2rem;
    text-align: center;
}
#nav > a.has-badge .badge {
    display: block;
}
#filter {
    flex: 0 1 auto;
    margin: .3rem 0;
}
#filter > a:hover,
#filter > a:active {
    color: #fff;
}
#filter .filter {
    display: inline-block;
    margin: .6rem 0;
}
#filter h3 {
    display: inline-block;
    margin: 0 .6rem 0 0;
    font-size: .75em;
    font-weight: normal;
    text-transform: uppercase;
    color: #a0a0a0;
}
#lines {
    display: inline-block;
}
.line input {
    display: none;
}
#lines .line-logo {
    opacity: 0.15;
    cursor: pointer;
    transition: opacity ease-in-out .15s;
}
#lines input:checked ~ .line-logo,
#lines.select-all .line-logo {
    opacity: 1;
}
.filter {
    display: inline-block;
    border-left: #a0a0a0 .1rem solid;
    padding-left: .6rem;
}
.filter input {
    display: none;
}
.filter span {
    display: inline-block;
    min-width: 3.5rem;
    padding: .5rem .4rem .4rem;
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    background: #e7e7e7 center/contain no-repeat;
    opacity: 0.15;
    cursor: pointer;
    transition: opacity ease-in-out .15s;
}
.filter input:checked ~ span,
.filter.select-all span {
    opacity: 1;
}
/* /train line filter */
/* /SITE HEADER */

/* SITE FOOTER: Copyright and stuff */
.site-footer {
    padding: .6rem .8rem;
    background: #f0f0f0;
    box-shadow: 0 -.1rem .3rem 0 rgba(0,0,0,.3);
    text-align: center;
    z-index: 1;
}
.site-footer .stats {
    float: right;
}
/* /SITE FOOTER */

/* SITE MAIN: main content, displays train cards and site footer */
.site-main {
    flex: 1 1 auto;
    position: relative;
    overflow-y: scroll;
    background: #d0d0d0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
}
.site-main .page {
    display: none;
    flex: 1 0 auto;
    z-index: 0;
}
.site-main .page.is-active {
    display: block;
}
/* list of train cards */
#page-list {
    padding: 1.2rem .8rem;
}
#trains {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
    grid-auto-rows: 14rem;
    grid-gap: .6rem .8rem;
    gap: .6rem .8rem;

    margin: 0;
    padding-left: 0;
    list-style: none;
}
@media (min-width: 30em) {
    #trains {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}
/* /list of train cards */
/* train cards loading */
#trains:empty {
    height: calc(100% - 4.2rem);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trains:empty::before {
    content: url(img/s-bahn-logo.svg);
    flex: 0 0 4.5rem;
    animation: beatinglogo 1s infinite;
}
#trains:empty::after {
    content: "Loading...";
    flex: 0 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    color: #606060;
    text-transform: uppercase;
    transition: color .1s ease;
    animation: beatingtext 1s infinite;
}
@keyframes beatinglogo {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}
@keyframes beatingtext {
    0% {
        color: #606060;
    }

    20% {
        color: #333;
    }

    40% {
        color: #606060;
    }

    60% {
        color: #333;
    }

    80% {
        color: #606060;
    }

    100% {
        color: #606060;
    }
}
/* /train cards loading */
/* train card item */
.train {
    position: relative;
    border-radius: .6rem;
    background: #fff;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease-in;
}
.train-inactive {
    opacity: .5;
}
:not(.train-sided) + .train-sided,
.train-sided + :not(.train-sided) {
    grid-column-start: 1;
}
.train.changed {
    background-color: #ffec86;
    transition: none;
}
/* line-number and destination */
.train-header {
    order: 3;
    flex: 0 0 auto;
    padding: .6rem .7rem;
    border-radius: 0 0 .6rem .6rem;
    background: #e0e0e0;

    display: flex;
    align-items: center;
}
.train-line {
    flex: 0 0 4rem;
}
.destination {
    flex: 1 1 auto;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    width: auto;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* /line-number and destination */
/* list of prev, current and next station */
.train-main {
    position: relative;
    order: 2;
    flex: 1 0 auto;
    padding: .6rem .7rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
.stations {
    flex: 0 0 auto;
    position: relative;
    padding-left: 0;
    list-style: none;
    color: #606060;
}
[class^="station-"] {
    padding: 0 0 0 4rem;
}
.stations .time {
    font-size: smaller;
    color: #a0a0a0;
}
.stations .delay {
    font-size: smaller;
    color: #df3333;
}
.station-prev {
    display: none; /* TODO */
}
.station-current {
    position: relative;
    margin-top: .9rem;
    margin-bottom: 1.2rem;
}
.station-current:empty {
    margin-bottom: 0;
}
.station-current:empty::after {
    content: "Endhaltestelle";
    color: #a0a0a0;
}
.station-next {
    margin-bottom: .6rem;
}
.progress {
    position: absolute;
    left: 0;
    top: 50%;
    width: 4.8rem;
    height: .6rem;
    margin: 0;
    transform: rotate(90deg);
    background-color: #bdd9f3;
}
.progress .bar {
    width: 0;
    height: 100%;
    background-color: #2b68a1;
}
.progress .bar::after {
    content: "";
    display: block;
    height: 1.8rem;
    border-right: .3rem solid #2b68a1;
    transform: translateY(calc(-100% + .6rem));
}
.train-boarding .station-current .name {
    font-weight: bold;
}
/* /list of prev, current and next station */
/* train infos like number and vehicles */
.train-aside {
    order: 1;
    flex: 0 0 auto;
    padding: .6rem .7rem .5rem;
    border-bottom: .1rem solid #e0e0e0;

    display: flex;
    align-items: center;
}
.train .train-number {
    flex: 0 0 4rem;
    display: inline-block;
    margin: 0;
    font-size: .75em;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #a0a0a0;
}
.vehicles {
    flex: 1 1 auto;
    margin: -.1rem .3rem -.2rem -.3rem;
    padding-left: .3rem;
    padding-bottom: .3rem;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(90deg, #c0c0c0 40%, transparent 40%) repeat-x left bottom / 1rem .2rem, linear-gradient(90deg, #cfcfcf 0%, #cfcfcf 100%) repeat-x left 0 bottom .2rem / 100% .1rem;
    animation: train-driving 1s infinite linear paused;
}
.train-driving .vehicles {
    animation-play-state: running;
}
@keyframes train-driving {
    0% { background-position-x: 0; }
    100% { background-position-x: 1rem; }
}
.vehicle {
    position: relative;
    display: inline-block;
    background: #c0c0c0;
    margin: 0 .1rem;
    padding: 0 .8rem;
    border-radius: .2rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.vehicle:first-child {
    padding-left: 1.2rem;
    border-top-left-radius: .9rem;
}
.vehicle:last-child {
    padding-right: .8rem;
    border-top-right-radius: .45rem;
}
.vehicle.is-forward::before {
    content: '‹';
    position: absolute;
    left: .3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.vehicle.is-forward:first-child::before {
    left: .6rem;
}
.vehicle.is-reverse::after {
    content: '›';
    position: absolute;
    right: .3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.vehicle.is-classic {
    box-shadow: inset 0 -.3rem 0 0 #d78a5b;
}
.vehicle.is-modern {
    box-shadow: inset 0 -.3rem 0 0 #8ca9ee;
}
.vehicle.is-tagged {
    background-color: #e7e7e7;
}
.vehicle.has-wifi, .vehicle.has-no-wifi {
    background-repeat: no-repeat;
    background-position: -1rem 0;
    background-size: 80% 80%;
}
.vehicle.has-wifi {
    background-image: url(img/wifi.svg);
}
.vehicle.has-no-wifi {
    background-image: url(img/wifi-no.svg);
}
.vehicle .model {
    display: block;
    position: absolute;
    right: -0.2rem;
    top: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
}
.vehicle.model-420 .model {
    background-color: #8094ff;
}
.action-link {
    font-size: 1.5rem;
    line-height: 1.3rem;
    width: 1em;
    height: 1em;
    text-align: center;
    text-decoration: none;
    border: .1rem solid rgba(0, 111, 53, .35);
    border-radius: 50%;
    transition: border .2s ease-in-out, background .2s ease-in-out;
}
.action-link:hover,
.action-link:active {
    background: rgba(0, 111, 53, .15);
    border-color: rgba(0, 111, 53, .5);
}
/* /train infos like number and vehicles */
/* error message */
.last-update {
    position: absolute;
    bottom: .2rem;
    right: .4rem;
    font-size: .9rem;
    line-height: 1;
    color: #df3333;
}
/* /error message */
/* details of train */
#page-map.is-active {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}
@media (orientation: landscape) and (min-width: 27em) {
    #page-map.is-active {
        flex-direction: row;
    }
}
#train-details {
    display: none;
    flex: 1 0 25%;
    overflow: auto;
    z-index: -1;
}
#train-details.is-active {
    display: block;
}
#selected-trains {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: .6rem .8rem;
    gap: .6rem .8rem;

    margin: 0;
    padding: .6rem .8rem;
    list-style: none;
}
#map {
    flex: 1 0 75%;
    box-shadow: 0 0 .6rem .3rem rgba(0,0,0,.15);
}
#map.leaflet-container {
    font-size: 12px;
}
.train-marker .container {
    cursor: pointer;
    pointer-events: visiblePainted;
}
.train-marker .container.inactive {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 0.6;
}
.train-marker .marker {
    stroke: #ffffff;
    stroke-width: 0.3;
}
.train-marker .type {
    stroke: none;
}
.train-marker .type.show {
    fill: #fffc;
}
.train-marker .type-text {
    font: bold 1.3px sans-serif;
    fill: #333;
    stroke: none;
}
.train-marker .state {
    stroke-width: 0.1;
    stroke-opacity: 0.85;
}
.train-marker .state.driving {
    fill: url(#gradient-green);
    stroke: #02da53;
}
.train-marker .state.boarding {
    fill: url(#gradient-yellow);
    stroke: #eab600;
}
.train-marker .state.stopped {
    fill: url(#gradient-red);
    stroke: #da251d;
}
.train-marker .is-selected .marker {
    stroke: #406fff;
}
.train-marker .heading.is-unknown {
    display: none;
}
.train-marker .name {
    font: bold 3px sans-serif;
}
/* /details of train */
/* news messages */
#newsticker {
    padding: 4rem;
}
#newsticker:empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#newsticker:empty::after {
    flex: 0 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    color: #606060;
    content: "Keine Störungen bekannt :-)";
}
.news-message {
    max-width: 60rem;
    margin: 1rem auto;
    padding-bottom: 1rem;
    border-bottom: .1rem #333 solid;
}
.news-message .time {
    font-style: italic;
}
.news-message .line-logo {
    margin-left: 0.5rem;
    vertical-align: text-bottom;
}
.news-message .title {
    margin: .8rem 0;
}
/* /news messages */
/* debug window */
#train-events {
    padding: .6rem .7rem;
    background: #fff;
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
    background: #fff;
}
th,
td {
    vertical-align: top;
    padding: .3rem .4rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
}
th {
    font-weight: bold;
    border-bottom: .1rem solid #c0c0c0;
}
tbody tr {
    background: #f0f0f0;
}
tbody tr:nth-child(odd) {
    background: #fff;
}
table .is-number {
    text-align: right;
}
/* /debug window */
/* /SITE MAIN */

/* LOG MESSAGES */
#log {
    max-height: 40vh;
    margin: 2.4rem -.8rem -1.2rem;
    padding: .9rem 1.6rem .3rem;
    border-top: .1rem solid #c0c0c0;
    color: #606060;
    overflow-y: auto;

    background: #e0e0e0;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.3);

    list-style: none;
}
#log:empty {
    display: none;
}
#log .message {
    margin-bottom: .6rem;
}
#log .message .time {
    font-weight: bold;
}
/* /LOG MESSAGES */
