/* DEFAULTS */
*, *:before, *:after {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    box-sizing: border-box;
    font-size: 50%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
@media (min-width: 21.875em) {
    html {
        font-size: 62.5%;
    }
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 1.2rem/1.5 sans-serif;
    font-variant-numeric: tabular-nums;
    background: #fff;
    color: #333;
}
a {
    color: #006f35;
}
a:hover, a:active {
    color: #003D1E;
}
.strip {
    display: block;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line-logo {
    display: inline-block;
    padding: .5rem .8rem .4rem;
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
}
/* /DEFAULTS */

/* SITE HEADER: fixed element on top */
.site-header {
    flex: 0 0 auto;
    padding: .3rem 1.6rem .2rem;
    /*border-bottom: .1rem solid #a0a0a0;*/
    border-bottom: .1rem solid #c0c0c0;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.3);
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: .6rem;
    gap: .6rem;
}
.site-header .logo {
    height: 3rem;
    vertical-align: text-bottom;
}
.site-header h1 {
    flex: 0 0 auto;
    margin: .6rem 0;
    font-size: 2.4rem;
    line-height: 1;
}
.site-header h1 a,
.site-header h1 a:hover,
.site-header h1 a:active {
    color: #333;
    text-decoration: none;
}
.site-header h1 span {
    font-size: .75em;
    font-weight: normal;
    text-transform: uppercase;
    color: #a0a0a0;
}
/* train line filter */
#nav > a {
    margin: .6rem .8rem;
    padding: .5rem .8rem .4rem;
    border: 1px solid rgba(0, 111, 53, .35);
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    transition: border .2s ease-in-out, background .2s ease-in-out;
}
#nav > a:hover,
#nav > a:active {
    background: rgba(0, 111, 53, .15);
    border-color: rgba(0, 111, 53, .5);
}
#filter {
    flex: 0 1 auto;
}
#filter > a:hover,
#filter > a:active {
    color: #fff;
}
#filter .filter {
    display: inline-block;
    margin: .6rem 0;
}
#filter h3 {
    display: inline-block;
    margin: 0 .6rem 0 0;
    font-size: .75em;
    font-weight: normal;
    text-transform: uppercase;
    color: #a0a0a0;
}
#lines {
    display: inline-block;
}
.line input {
    display: none;
}
#lines .line-logo {
    opacity: 0.15;
    cursor: pointer;
    transition: opacity ease-in-out .15s;
}
#lines input:checked ~ .line-logo,
#lines.select-all .line-logo,
#lines .line-logo:hover {
    opacity: 1;
}
/* /train line filter */
/* /SITE HEADER */

/* SITE FOOTER: Copyright and stuff */
.site-footer {
    /*margin: 2.4rem -.8rem 0;*/
    padding: .6rem .8rem;
    background: #f0f0f0;
    box-shadow: 0 -.1rem .3rem 0 rgba(0,0,0,.3);
    text-align: center;
    z-index: 1;
}
/* /SITE FOOTER */

/* SITE MAIN: main content, displays train cards and site footer */
.site-main {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    background: #d0d0d0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
}
.site-main .page {
    display: none;
    flex: 1 0 auto;
    z-index: 0;
}
.site-main .page.is-active {
    display: block;
}
/* list of train cards */
#page-list {
    padding: 1.2rem .8rem;
}
#trains {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: .6rem .8rem;
    gap: .6rem .8rem;

    margin: 0;
    padding-left: 0;
    list-style: none;
}
@media (min-width: 30em) {
    #trains {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}
/* /list of train cards */
/* train cards loading */
#trains:empty {
    height: calc(100% - 4.2rem);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trains:empty::before {
    content: url(img/s-bahn-logo.svg);
    flex: 0 0 4.5rem;
    animation: beatinglogo 1s infinite;
}
#trains:empty::after {
    content: "Loading...";
    flex: 0 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    color: #606060;
    text-transform: uppercase;
    transition: color .1s ease;
    animation: beatingtext 1s infinite;
}
@keyframes beatinglogo {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}
@keyframes beatingtext {
    0% {
        color: #606060;
    }

    20% {
        color: #333;
    }

    40% {
        color: #606060;
    }

    60% {
        color: #333;
    }

    80% {
        color: #606060;
    }

    100% {
        color: #606060;
    }
}
/* /train cards loading */
/* train card item */
.train {
    position: relative;
    border-radius: .6rem;
    background: #fff;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
}
.train-sided {
    opacity: .5;
}
:not(.train-sided) + .train-sided,
.train-sided + :not(.train-sided) {
    grid-column-start: 1;
}
/* line-number and destination */
.train-header {
    order: 3;
    flex: 0 0 auto;
    padding: .6rem .7rem;
    border-radius: 0 0 .6rem .6rem;
    background: #e0e0e0;

    display: flex;
    align-items: center;
}
.train-line {
    flex: 0 0 4rem;
}
.destination {
    flex: 1 1 auto;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    width: auto;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* /line-number and destination */
/* list of previous and next station */
.train-main {
    order: 2;
    flex: 1 0 auto;
    padding: .6rem .7rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
.stations {
    flex: 0 0 auto;
    position: relative;
    padding-left: 0;
    list-style: none;
    color: #606060;
}
[class^="station-"] {
    padding: 0 0 0 4rem;
}
.station-prev {
    position: relative;
    margin-top: .3rem;
    margin-bottom: .6rem;
}
.station-prev::before {
    content: '➤';
    position: absolute;
    left: 2.2rem;
    transform: translateY(calc(50% + .3rem));
    transform-origin: bottom;
}
.station-prev:empty {
    margin-bottom: 0;
}
.station-prev:empty::before {
    display: none;
}
.station-prev:empty::after {
    content: "Endhaltestelle";
    color: #a0a0a0;
}
.station-next:empty,
.station-next .strip:empty {
    margin-top: -.6rem;
}
.progress {
    margin: 0 0 0 4rem;
    background-color: #bdd9f3;
    width: 10rem;
    height: 0.5rem;
}
.progress .bar {
    background-color: #2b68a1;
    width: 0;
    height: 100%;
}
.train-stopped .station-prev {
    font-weight: bold;
}
.train-stopped .station-prev::before {
     transform: translateY(0);
}
/* /list of previous and next station */
/* train infos like number and vehicles */
.train-aside {
    order: 1;
    flex: 0 0 auto;
    padding: .6rem .7rem .5rem;
    border-bottom: .1rem solid #e0e0e0;

    display: flex;
    align-items: center;
}
.train .train-number {
    flex: 0 0 4rem;
    display: inline-block;
    margin: 0;
    font-size: .75em;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #a0a0a0;
}
.vehicles {
    flex: 1 1 auto;
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}
.vehicle {
    position: relative;
    display: inline-block;
    background: #c0c0c0;
    margin: 0 .1rem;
    padding: 0 .8rem;
    border-radius: .2rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.vehicle:first-child {
    padding-left: 1.2rem;
    border-top-left-radius: .9rem;
}
.vehicle:last-child {
    padding-right: .8rem;
    border-top-right-radius: .45rem;
}
.vehicle:not(.is-reverse)::before {
    content: '‹';
    position: absolute;
    left: .3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.vehicle:not(.is-reverse):first-child::before {
    left: .6rem;
}
.vehicle.is-reverse::after {
    content: '›';
    position: absolute;
    right: .3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.vehicle.is-classic {
    background: linear-gradient(180deg, #f07f7f 50%, #be9e9e 100%);
}
.vehicle.is-modern {
    background: linear-gradient(180deg, #ff7f7f 50%, #ffd7d7 100%);
}
.icon-info {
    font-size: 1.5rem;
    line-height: 1;
    width: 1em;
    height: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    background: #606060;
}
.icon-info:hover {
    color: #a0a0a0;
    background: #333;
}
/* /train infos like number and vehicles */
/* error message */
.lastUpdate {
    position: absolute;
    bottom: 0;
    right: .3rem;
    font-size: .9rem;
    line-height: 1;
    color: #b63737;
}
/* /error message */
/* details of train */
#page-map.is-active {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}
@media (orientation: landscape) and (min-width: 21.875em) {
    #page-map.is-active {
        flex-direction: row;
    }
}
#train-details {
    display: none;
    flex: 1 0 50%;
    overflow: auto;
    z-index: -1;
}
#train-details.is-active {
    display: block;
}
#train-details .train {
    border-radius: 0;
}
#train-details .train-header {
    border-radius: 0;
}
#train-events {
    padding: .6rem .7rem;
    background: #fff;
    overflow: auto;
}
#map {
    flex: 1 0 25%;
    box-shadow: 0 0 .6rem .3rem rgba(0,0,0,.15);
}
@media (orientation: landscape) and (min-width: 21.875em) {
    #map {
        flex-basis: 50%;
    }
}
#map .train-marker .container {
    cursor: pointer;
    pointer-events: visiblePainted;
}
#map .train-marker .marker {
    stroke: #ffffff;
    stroke-width: 0.3;
}
#map .train-marker .is-selected .marker {
    stroke: #406fff;
}
#map .train-marker .heading.is-unknown {
    display: none;
}
#map .train-marker .name {
    font: bold 3px sans-serif;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
    background: #fff;
}
th,
td {
    vertical-align: top;
    padding: .3rem .4rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
}
th {
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
}
tbody tr {
    background: #f0f0f0;
}
tbody tr:nth-child(odd) {
    background: #fff;
}
table .is-number {
    text-align: right;
}
/* /details of train */
/* /SITE MAIN */

/* LOG MESSAGES */
#log {
    max-height: 40vh;
    margin: 2.4rem -.8rem -1.2rem;
    padding: .9rem 1.6rem .3rem;
    border-top: .1rem solid #c0c0c0;
    color: #606060;
    overflow-y: auto;

    background: #e0e0e0;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.3);
}
#log:empty {
    display: none;
}
#log .message {
    margin-bottom: .6rem;
}
#log .message .log-date {
    font-weight: bold;
}
/* /LOG MESSAGES */
